/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.post-list-card {
  background-color: white;
  border-radius: 5px;
  height: 20em;
  margin: 20px;
  border: 1px solid black
}

.post-list-card:hover {
  scale: 1.2;

}

.padding-bot {
  padding-bottom: 30px;
}

.status-post-completed {
  color: grey !important;
}

.status-post-accepted {
  color: yellowgreen !important;
}

.status-post-rejected {
  color: red !important;
}

.create-post {
  height: 40em;
  scale: 3;
  padding-left: 3%;
}

.created-post-icon {}

.back-btn {
  padding-left: 10%;
}

.to-user-profile {
  text-decoration: underline;
}

.to-user-profile:hover {
  text-decoration: none;
  font-size: larger;
  background-color: teal;
  border-radius: 2px;
  padding: 5px;
}

.post-detail-owner {
  color: #FEC401;
}

.post-detail-user {
  color: #e18e07;
}

.post-detail {
  padding: 40px 0px;
}

.list-box {
  height: 450px;
  overflow-y: scroll !important;
}


.post-detail-card {
  background-color: white;
  border-radius: 10px;
  width: 70%;
  align-content: center;
}

.post-detail-card:hover img {
  border: 3px solid black;
  transition: transform .2s !important;
}

.admin__home_banner {
  height: 270px;
  background: linear-gradient(180deg,
      #fec401 0%,
      rgba(255, 255, 255, 0.58) 69.78%,
      #fff 100%,
      #fff 100%);
}

.search-body {
  height: 60em;
}

.search-container {
  height: 45em !important;
  position: relative;
  width: 100%;
}

.search-pagination {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.list-box {
  background-color: white;
  border: 1px solid grey;
}

.search-item {
  background-color: white;
  border-radius: 10px;
  height: 20em;
  margin-bottom: 20px;
  width: 22em;
  border: 1px solid black
}

.search-item:hover {
  transform: scale(1.1);
}

.equal-sign {
  text-align: center;
  font-size: 50px;
}

.topup-img {
  width: 100%;
}

.pending-table {
  overflow-y: scroll;
  height: 15em;
}

.topup {
  height: 42em !important;
}

.topup-board-l {
  height: 16em !important;
}

.topup-board-r {
  height: 42em !important;
}

.request-board {
  height: 50em;
}

.topup-input {
  width: 60%;
}

.topup-btn {
  padding: 5px 20px;
  font-size: 20px;
}

.teal {
  color: teal;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.topup-custom {
  height: 18em;
}

.select-pending {
  height: auto !important;
}

.card-custom {
  background-color: white;
  border-radius: 10px;
  height: 40em;
}

.topup-link {
  text-decoration: none;
  color: teal !important;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
}


.topup-link:hover {
  text-decoration: none;
  font-size: 150%;
  background-color: #D82D8B;
  color: white !important;
  border-radius: 10px;
  width: 150%;
  box-sizing: border-box;
  padding: 10px;
}

.add-btn {
  background-color: blue !important;
  border-color: blue !important;
}

.yes-btn {
  background-color: rgb(0, 207, 0) !important;
  border-color: rgb(0, 207, 0) !important;
}

.no-btn {
  background-color: red !important;
  border-color: red !important;
}

.yes-btn:hover {
  background-color: green !important;
  border-color: green !important;
}

.no-btn:hover {
  background-color: rgb(197, 0, 0) !important;
  border-color: rgb(197, 0, 0) !important;
}

.dialog-p {
  padding: 0px 10px;
}

.dialog {
  padding: 0px 30px;
}

.remove-btn {
  align-self: center;
}

.price-option {
  padding-right: 0px !important;
}

.pricing-list {
  width: auto;
  height: 60%;
  overflow-y: scroll;
}

.banner_title {
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.post-padding {
  padding: 10px 0px;
}


.post-image:hover img {
  width: 10%;
}

.form-split {
  height: 30px;
}

.card-color_linear {
  background: linear-gradient(180deg, #FEC401 0%, #FFFFFF 80.21%, #FFFFFF 100%);
}

.carousel-nav-prev,
.carousel-nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-nav-icon {
  font-size: 2.5rem;
  line-height: 1;
}

.qrpayment {
  .container {
    margin-top: 50px;
  }

  .card {
    margin-bottom: 190px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70%;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .order-info {
    margin-top: 20px;
  }

  .qr-code {
    margin-top: 20px;
  }

  .qr-code p {
    margin-bottom: 10px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
}

table {
  border: 1px solid black;
  border-radius: 10px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.custom-table th {
  background-color: #f0ad4e;
  color: white;
}

.custom-table tr:hover {
  background-color: #f5f5f5;
}

.custom-table tr:first-child:hover {
  background-color: transparent;
}

.carousel-item img {
  height: 300px;
  /* đặt chiều cao của ảnh là 300px */
  object-fit: cover;
  /* căn chỉnh ảnh theo tỷ lệ giữa chiều rộng và chiều cao, để ảnh không bị kéo dãn */
}

.nav-tabs {
  white-space: nowrap;
}

.nav-item {
  display: inline-block;
}

.nav-tabs .nav-link {
  width: auto;
  /* hoặc đặt giá trị cố định, ví dụ: width: 100px */
  display: inline-block;
  margin-right: 1px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #ddd;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info h5 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.product-info p {
  font-size: 14px;
  margin-bottom: 0px;
}

.form-label {
  font-weight: bold;
  color: #111;
  font-size: 16px;
  margin-bottom: 8px;
}

.form-control {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 16px;
  color: #333;
}

.form-control:focus {
  border-color: #f90;
  box-shadow: none;
}

.form-select {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.form-check-input {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.form-check-label {
  font-weight: normal;
  font-size: 16px;
  color: #333;
}

.form-control-file {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 16px;
  color: #333;
}

.btn-primary {
  background-color: #f90;
  border-color: #f90;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 32px;
  color: #fff;
}

.btn-primary:hover {
  background-color: #f80;
  border-color: #f80;
  color: #fff;
}

.btn-danger {
  background-color: #f00;
  border-color: #f00;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 32px;
  color: #fff;
}

.btn-danger:hover {
  background-color: #e00;
  border-color: #e00;
  color: #fff;
}

.admin__home_banner {
  margin-bottom: 20px;
}

.container {
  margin-top: 20px;
}

.col-md-3 {
  padding-right: 10px;
}

.col-md-9 {
  padding-left: 10px;
}

.FooterFE {
  margin-top: 20px;
}