.admin__home_banner {
  height: 270px;
  background: linear-gradient(
    180deg,
    #fec401 0%,
    rgba(255, 255, 255, 0.58) 69.78%,
    #fff 100%,
    #fff 100%
  );
}
.banner_title {
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.card-color_linear {
  background: linear-gradient(180deg, #fec401 0%, #ffffff 80.21%, #ffffff 100%);
}

.card-main {
  min-height: 20vw;
}

.card-sub {
  min-height: 10vw;
}

.sidebar {
  width: 280px;
}

.list-group-item.active {
  background: #12e265;
  color: #000;
}

.search-field {
  width: 300px;
}

.search-field input:focus {
  box-shadow: none;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.custom-table tr:hover th,
.custom-table tr:hover td {
  background-color: #ccc;
}

.revenue-btn {
    color: #000 !important;
    min-width: 150px;
}

.revenue-btn:hover{
    color: #000 !important;
}

.profile-avt {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}