.admin__home_banner {
  height: 270px;
  background: linear-gradient(180deg,
      #fec401 0%,
      rgba(255, 255, 255, 0.58) 69.78%,
      #fff 100%,
      #fff 100%);
}
.pending-box{
  min-height: auto !important;
  height: 20em !important;
}

.list-box{
  height: 30em !important;
}

.profile-row{
  border: none !important;
}
.profile-btn{
  color: black !important;
  background-color:#fec401 !important;
}
.accept-all{
  font-weight: 700 !important;  
}
.order-admin-title {
  text-align: center;
  font-size: 70px;
}

.side-bar-title {
  padding: 20px 0px;
  background-color: teal;
}

.side-bar-title h4 {
  font-size: 50px;
}

.back-button {
  height: 100%;
}

.side-bar-active {
  background-color: yellowgreen;
}

.divider {
  background-color: black;
  height: 2px;
}

.sbBtn {
  width: 70px;
  margin-left: 20px;
  size: 100%;
}

.back-button {
  margin-bottom: 30px;
}

.graph {
  height: 30em;
}

.dashboard-title {
  margin-bottom: 15px;
  background-color: #12e265;
}

.admin-header {
  flex-direction: column;
  background-color: teal;
  font-size: large;
}

.admin-header-item>button {
  align-self: flex-start;
}

.banner_title {
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.card-color_linear {
  background: linear-gradient(180deg, #fec401 0%, #ffffff 80.21%, #ffffff 100%);
}

.card-main {
  min-height: 20vw;
}

.card-sub {
  min-height: 10vw;
}

.sidebar {
  width: 280px;
}

.list-group-item.active {
  background: #12e265;
  color: #000;
}

.search-field {
  width: 300px;
}

.search-field input:focus {
  box-shadow: none;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.custom-table tr:hover th,
.custom-table tr:hover td {
  background-color: #ccc;
}

.revenue-btn {
  color: #000 !important;
  min-width: 150px;
}

.revenue-btn:hover {
  color: #000 !important;
}

.profile-avt {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.grey-screen {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 6000;
  text-align: center;
  color: white;
  font-size: large;
  justify-content: ce;
}